
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
       {% for itinary in itinaries %}
        <div class="card-header">{{itinary.pname}}</div>
        <div class="card-body">
          <h5 class="card-title">{{itinary.day}}</h5>
          <p class="card-text">{{itinary.location}}.</p>
          {% endfor %}
        </div>
        </div>
        </body>
        </html>