{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/itineary.css' %}">
</head>
<body>
 

    <h1>here is your plan...</h1>
    <div>
      <ul>
        <li>
          <div>
            {% for itinerary in itineraries %}
            <time>{{itinerary.date}}</time>
            <p>{{itinerary.description}} 
  </p>
  
          </div>
          {% endfor %}
        </li>
   

      </ul>
      
    </div>
 <script src="{% static 'js/itineary.js'%}"></script>
</body>
</html>