<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/Box.css">
    <script>
        // Smooth scroll to anchor links
        document.addEventListener("DOMContentLoaded", function() {
            const links = document.querySelectorAll('a.nav-link');
            for (const link of links) {
                link.addEventListener('click', smoothScroll);
            }
            
            function smoothScroll(event) {
                event.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
                if (targetElement) {
                    const offsetTop = targetElement.offsetTop;
                    window.scrollTo({
                        top: offsetTop,
                        behavior: 'smooth'
                    });
                }
            }
        });
    </script>
</head>
<body>
    <header>
        <div class="container-fluid position-relative nav-bar p-0">
            <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
                <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                    <a href="" class="navbar-brand">
                        <h1 class="m-0 text-primary"><span class="text-dark">Voyage</span>Vista</h1>
                    </a>
                    
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between px-3" >
                        <div class="navbar-nav ml-auto py-0">
                            <ul class="navbar-nav" id="navbarCollapse">
                                {% for category in categories %}
                                    <li class="nav-item"><a href="#{{ category.Categoryname }}" class="nav-link">{{ category.Categoryname }}</a></li>
                                {% endfor %}
                            </ul>
                        </div> 
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div id="content">
        <h1>helooo...</h1>
    </div>
</body>
</html>
