.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Change to flex display */
}

.nav-item {
  margin-right: 10px; /* Add margin between items for spacing */
}

.nav-link {
  text-decoration: none;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #f8f9fa;
  color: #000000;
}

.nav-link:focus,
.nav-link:active {
  background-color: #f8f9fa;
  color: #000000;
}
